<div flex layout="column" layout-padding>


    <div layout="row" layout-xs="column" layout-align="center center">

        <div flex-gt-sm layout="column">

            <h1>Pokédex (beta)</h1>
            <md-input-container class="card-style-details">
                <label>Name (English) or number</label>
                <input type="text" ng-model="$ctrl.searchPokemon">
            </md-input-container>
            <md-button class="md-raised" ng-click="$ctrl.searchPokedex()">Search Pokemon</md-button>

        </div>
        <div flex-gt-sm layout="column">
            <md-card class="card-style-details">
                <md-card-content>

                    <span class="md-display-1 majuscule">{{$ctrl.result.name}}</span>

                    <hr>
                    <div layout="column" layout-padding>

                        <div layout="row" layout-align="center center">
                            <div ng-repeat="type in $ctrl.result.types">
                                <span ng-if="$last">&nbsp&nbsp</span>
                                <span class="md-headline 属性">{{type.type.name}}</span>
                            </div>

                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
<div layout="row" layout-align="center">
    <md-button flex="25" class="md-primary md-raised btn1" ui-sref="home">Retour</md-button>
</div>
