<div layout="row" layout-align="space-around center">

    <img flex-gt-sm="5" flex="10" class="pokedex-image" src="pokédex.png" ui-sref="pokedex">

    <img flex-gt-sm="20" flex="25" ui-sref="home" src="Sun_Version.png" alt="精灵宝可梦太阳">

    <span flex="5"></span>

    <img flex-gt-sm="20" flex="25" src="Moon_Version.png" alt="精灵宝可梦月亮">

    <md-button class="md-icon-button md-accent" ui-sref="home">
        <md-icon ng-hide="$ctrl.isLoggedIn" ng-click="$ctrl.showLogin($event, true)">account_circle</md-icon>
        <md-icon ng-show="$ctrl.isLoggedIn" ng-click="$ctrl.logout()">power_settings_new</md-icon>
    </md-button>
</div>
