<div flex layout="row" layout-align="center" layout-padding>


    <div flex="50" layout="row">
        <div flex layout="column" layout-align="center end">
            <img md-whiteframe flex="50" ng-src="http://www.pokemon-sunmoon.com/media/uploads/pokemon_grid_images/{{$ctrl.pokemon.link | lowercase }}.png" alt="{{$ctrl.pokemon.nameCN}}">
        </div>
    </div>

    <div flex="50" layout="column" layout-align="center">

        <table md-whiteframe>
            <tr>
                <th>Name EN</th>
                <td>Smith</td>

            </tr>
            <tr>
                <th>Name FR</th>
                <td>Jackson</td>
            </tr>
        </table>

    </div>

</div>
<div layout="row" layout-align="center">
    <md-button flex="25" class="md-primary md-raised btn1" ui-sref="home">Retour</md-button>
</div>
