<div flex layout="column" layout-align="center center">

    <div layout="row" layout-xs="column" layout-align="center center">

        <img md-whiteframe flex="50" flex-xs="90" ng-src="http://www.pokemon-sunmoon.com/media/uploads/pokemon_grid_images/{{$ctrl.pokemon.link | lowercase }}.png" alt="{{$ctrl.pokemon.nameCN}}">

        <md-card flex="50" flex-xs="100" class="card-style-details">
            <md-card-content>
                <div layout="row" layout-align="space-between">
                    <span class="md-display-1">{{$ctrl.pokemon.nameCN}}</span>
                    <md-button class="md-icon-button" aria-label="icon" ng-click="$ctrl.toggleFavorite()">
                        <md-icon ng-class="$ctrl.localBool || $ctrl.isFavorite  ? 'md-accent' : ''">favorite</md-icon>
                    </md-button>
                </div>
                <hr>
                <div layout="column" layout-padding>
                    <div layout="row" layout-align="start center">
                        <img src="french.png" height="30" width="30">
                        <span class="md-headline">{{$ctrl.pokemon.nameFR}}</span>
                    </div>
                    <div layout="row" layout-align="start center">
                        <img src="english.png" height="30" width="30">
                        <span class="md-headline">{{$ctrl.pokemon.nameEN}}</span>
                    </div>
                    <div layout="row" layout-align="center center">
                        <div ng-repeat="type in $ctrl.pokemon.types">
                            <span ng-if="$last">&nbsp&nbsp</span>
                            <span class="md-headline 属性 {{type}}">{{type}}</span>
                        </div>

                    </div>

                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
<div layout="row" layout-align="center">
    <md-button flex="25" class="md-primary md-raised btn1" ui-sref="home">Retour</md-button>
</div>
