<div layout="row" layout-align="center center" style="text-align:center;">
    <md-list>
        <div layout="row" layout-wrap>
            <md-list-item ng-repeat="tag in $ctrl.tags">
                <md-button ng-class="$ctrl.activeBtn === $index ? 'md-raised md-accent btn1' : 'md-raised btn1'" ng-click="$ctrl.toggleTag($index)">
                    <span class="md-title">{{tag.name}}</span>
                </md-button>
            </md-list-item>
        </div>
    </md-list>
</div>

<span ng-show="!$ctrl.currentUser && $ctrl.activeBtn === 3" class="info" style="text-align:center;"> <a href="" ng-click="$ctrl.showLogin($event, true)">Login</a> or <a href="" click="$ctrl.showLogin($event, false)">register</a> to save your favorite Pokémons</span>

<div flex layout="row" layout-align="center" layout-wrap>

    <div flex="15" flex-md="20" flex-sm="25" flex-xs="30" ng-repeat="pokemon in $ctrl.pokemons" class="fade">
        <md-card class="card-style">
            <a ui-sref="pokedetails({ pokeId: pokemon.nameCN})">
                <img ng-src="http://www.pokemon-sunmoon.com/media/uploads/pokemon_grid_images/{{pokemon.link | lowercase }}.png" class="md-card-image" alt="{{pokemon.nameCN}}">
            </a>
        </md-card>
    </div>

</div>

<!--
<div layout-padding>
    <md-grid-list md-cols="6" md-cols-md="5" md-cols-sm="4" md-cols-xs="2" md-gutter="12px" md-row-height="212px">
        <md-grid-tile class="card-style" ng-repeat="pokemon in $ctrl.pokemons">

            <img md-whiteframe ng-src="http://www.pokemon-sunmoon.com/media/uploads/pokemon_grid_images/{{pokemon.link | lowercase }}.png" alt="{{pokemon.nameCN}}" ui-sref="pokedetails({ pokeId: pokemon.nameCN})">

        </md-grid-tile>
    </md-grid-list>
</div>
-->
