<div layout="row" layout-align="center center" style="text-align:center;">
    <md-list>
        <div layout="row" layout-wrap>
            <md-list-item ng-repeat="tag in $ctrl.tags">
                <md-button ng-class="$ctrl.activeBtn === $index ? 'md-raised md-accent btn1' : 'md-raised btn1'" ng-click="$ctrl.toggleTag($index)">
                    <span class="md-title">{{tag.name}}</span>
                </md-button>
            </md-list-item>
        </div>
    </md-list>
</div>

<span ng-show="!$ctrl.currentUser && $ctrl.activeBtn === 3" class="info" style="text-align:center;"> <a href="" ng-click="$ctrl.showLogin($event, true)">Login</a> or <a href="" click="$ctrl.showLogin($event, false)">register</a> to save your favorite Pokémons</span>

<div flex layout="row" layout-align="center" layout-wrap>

    <div flex="15" flex-md="20" flex-sm="25" flex-xs="30" ng-repeat="pokemon in $ctrl.pokemons" class="fade">
        <md-card ui-sref="pokedetails({ pokeId: pokemon.nameCN })">
            <img ng-src="{{pokemon.nameFR}}.png" class="md-card-image" alt="{{pokemon.nameCN}}">
        </md-card>
    </div>

</div>
